body{
    background-color: aquamarine;
}
.buttonContainer {
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-30%);
  }
  
  button {
    width: 5vw;
    height: 5vh;
   position: absolute;
   left: 20%;
   font-size: 50px;
  }
  button:hover {
    background-color: bisque;
    cursor: pointer;
  }